<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ app_env | capitalize }} Environment</title>
  </head>
  <body>
    <h1>{{ app_message }}</h1>
    <p>Running on port {{ app_port }}</p>
    <small>Deployed by Ansible</small>
  </body>
</html>
